/.idea
/Aumento salario.py
/Calculadora Juros 02.py
/Calculadora Juros.py
/Calculadora_nota UNIP.py
/Calculadora_nota.py
/Calculo aumento funcionario.py
/Calculo de divida.py
/Cifra de César
/Desconto mercado.py
/Emprestimo Banco.py
/Ex's 30_09
/Exercicio06.py
/Exs IPE
/Guilherme_Augusto_Sbizero_Correa__RA F235289
/Imposto.py
/Produto.py
/rsa-em-python
/RSA.py
/Segundos.py
/Tabuada.py
/Teste.py
/UNIP APS 1º Semestre